<!DOCTYPE html>
<html>
    
<head>
    <title>404_Error</title>
    <meta charset="utf-8">
    <meta name="Viewport" content="width=device-width, initial-scale=1.0">
    <script src="//kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <link rel="icon" href="/image/icon.png">
    <link rel="stylesheet" href="./css/style.css">
    <script src="javasript/client-side.js"></script>
</head>

<body>
    {{!-- Navigation bar --}}
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fa fa-list-ul" style="font-size: 30px;"></i>
        </label>
        <label class="homepg">404 error<i class="material-icons" style="font-size:35px;color:red">warning</i></label>
        <ul>
            <li class="active"><a href="/"><i class="fa fa-home fa-fw" style="font-size: 20px;"></i>Home</a></li>
            <li><a href="/about"><i class="fa fa-pencil" style="font-size: 20px;"></i>About</a></li>
            <li><a href="/help"><i class="fa fa-child" style="font-size: 22px;"></i>Help</a></li>
                           
        </ul>
    </nav>

    {{!-- main content part --}}
    <div class="main-content">
        {{>header}}
        <img class="error" src="image/angry.webp">
        <p class="notfound">{{errorMessage}}</p>
    </div>
    {{>footer}}
</body>

</html>