<!DOCTYPE html>
<html>

<head>
    <title>Help</title>
    <meta charset="utf-8">
    <meta name="Viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    
     <link rel="icon" href="/image/icon.png">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    {{!-- Navigation bar --}}
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars" style="font-size: 30px;"></i>
        </label>
        <label class="homepg">ThunderStar
        <i class="fas fa-cloud-moon-rain" style="font-size: 35px;"></i>
        </label>
        <ul>
            <li class="active"><a href="/"><i class="fa fa-home fa-fw" style="font-size: 20px;"></i>Home</a></li>
            <li><a href="/about"><i class="fas fa-clipboard-list" style="font-size: 20px;"></i>About</a></li>
            <li><a href="/help"><i class="fas fa-hands-helping" style="font-size: 20px;"></i>Help</a>   
            </li>
                    
        </ul>
    </nav>

    {{!-- main content part --}}
    <div class="main-content">
        {{>header}}
        <p>{{helpText}}</p>
        <img class="help_page" src="image/upset.gif">
    </div>
    {{>footer}}
</body>

</html>