<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Weather</title>
    <meta name="Viewport" content="width=device-width, initial-scale=1.0">
    <script src="//kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <link rel="icon" href="/image/icon.png">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    {{!-- Navigation bar --}}
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fa fa-list-ul"></i>
        </label>
        <label class="homepg">ThunderStar<i class="fas fa-cloud-moon-rain"></i></label>
        <ul>
            <li class="active"><a href="/"><i class="fa fa-home fa-fw" style="font-size: 20px;"></i>Home</a></li>
            <li><a href="/about"><i class="fa fa-pencil" style="font-size: 20px;"></i>About</a></li>
            <li><a href="/help"><i class="fa fa-child" style="font-size: 22px;"></i>Help</a></li>            
        </ul>
    </nav>

    {{!-- main content part --}}
    <div class="main-content">
        {{>header}}
        <p style="color:black">Use this site to get your weather!!</p>
        <form>
            <input placeholder=" Write your Location........ " id="loc">
            <button>Search</button>
        </form>

        <div class="form_type">
            <p id="msg1" style="color: black;"></p>
            <p id="msg2"></p>
            <p id="msg3"></p>
            <p id="msg4"></p>
            <p id="msg5"></p>
            <p id="msg6"></p>
            <p id="msg7"></p>
        </div>
    </div>
    {{>footer}}
    <script src="javascript/client-side.js"></script>
</body>

</html>
